<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic Page</title>

    <link rel="stylesheet" href="../Styles/clinic.css">


</head>
<body>


    <nav>

        <!--  navigation bar code -->

    </nav>


    <div id="nitesh_clinic">

        <!--  clinic cards display's here -->


        <div>

            <input type="text" placeholder="Search Clinic Here" id="clinic_search">

        </div>

       
        <div id="nit_clinic_cards">

            <!-- append data here -->

        </div>



    </div>




    <footer>

        <!-- footer code goes here -->

    </footer>


    
</body>
</html>


<script src="../Src/clinic.js"></script>